DATABASE_URL= # Replace with your PostgreSQL connection string
PORT=4000 # Replace with your desired port


NODE_ENV=development


SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER= # Replace with your Gmail address
SMTP_PASS= # Replace with your Gmail password

JWT_ACCESS_SECRET= # run openSSL rand -base64 32 to generate a new secret
JWT_REFRESH_SECRET= # run openSSL rand -base64 32 to generate a new secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d